@page
@model LindnerAirlines.Pages.Assists.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bgim">
    <h1>Requested Assistance</h1>

    <p>
        <a class="btn  btn-sm btn-primary" asp-page="Create">Create New Assist</a>
    </p>
    <div class="p-2">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Assist[0].RequestDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assist[0].AssistType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Assist[0].User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Assist)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssistType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            <a class="btn  btn-sm btn-outline-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn  btn-sm btn-outline-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn  btn-sm btn-outline-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>


</div>
